{% extends 'index.html' %}

{% block title %}Edit{% endblock %}

{% block content %}

<div class="container">
	<form action="{{ urldepth }}" method="post" name="save">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">content/</span>
				<input value="{{ filename }}" type="text" class="form-control" name="filename">
				<span class="input-group-addon"><a target="_blank" href="/cms/flatfile/{{ link }}">View</a></span>
			</div>
		</div>
		<div class="form-group header-editor">
			<label for="header">Header (YAML):</label>
			<textarea name="header" class="form-control" rows="5" id="header">{{ header }}</textarea>
		</div>
		<div class="form-group content-editor">
			<label for="content">Content (Markdown):</label>
			<textarea name="content" class="form-control" rows="20" id="content">{{ content }}</textarea>
		</div>
		<div class="input-group">
			<input value="{{ filename }}" type="hidden" name="oldfilename">
			<input type="submit" class="form-control btn btn-primary" name="save" value="save">
		</div>
	</form>
</div>

{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="{{ urldepth }}assets/bootstrap/js/bootstrap.js"></script>
<script src="{{ urldepth }}assets/codemirror/lib/codemirror.js"></script>
<script src="{{ urldepth }}assets/codemirror/mode/yaml/yaml.js"></script>
<script src="{{ urldepth }}assets/codemirror/mode/markdown/markdown.js"></script>
<script>
	CodeMirror.fromTextArea($('#header')[0], {
		mode: 'yaml',
		theme: 'neat',
		lineWrapping: true
	});
	CodeMirror.fromTextArea($('#content')[0], {
		mode: 'markdown',
		theme: 'neat',
		lineWrapping: true
	});
</script>
{% endblock %}