{% extends 'index.html' %}

{% block content %}
<div class="container">
	<form action="{{ urldepth }}users/new" method="post" name="newuser">

		<div class="input-group">
			<input type="text" name="user_name">
			<label>Username</label>
		</div>

		<div class="input-group">
			<input type="password" name="user_pass">
			<label>Password</label>
		</div>

		<div class="input-group">
			<input type="password" name="user_pass_repeat">
			<label>Password Repeat</label>
		</div>

		<div class="input-group">
			<select name="access_level">
				<option value="1">user (1)</option>
				<option value="10">admin (10)</option>
			</select>
			<label>Access Level</label>
		</div>
		<div class="input-group">
			<input type="submit" class="btn btn-primary" value="Create" name="submit">
		</div>
		{% if newuser %}
			<br><br>
			<p>Paste this into the 'users.php' file storing all user info.<br>
			<code>{{ newuser|raw }}</code>
			</p>
		{% endif %}

	</form>
</div>
{% endblock %}