{% extends 'index.html' %}

{% block content %}

<div class="row">
	<div class="col-md-3">
		<h1>Pages</h1>
	</div>

	<div class="col-md-3 col-md-offset-6 text-right">
		<a href="pages/new" class="btn btn-primary" role="button">New Page</a>
	</div>
</div>

<script type="text/javascript">
	function Delete(page) {
		document.body.innerHTML += '<form id="delete" action="" method="post"><input type="hidden" name="page" value="' + page + '"></form>';
		document.getElementById("delete").submit();
	}
</script>

<table class="table table-striped table-hover">
	<thead>
		<th>Page</th>
		<th>Path</th>
		<th>State</th>
		<th>Title</th>
		<th>Child Pages</th>
		<th></th>
		<th>Last Edited</th>
		<th></th>
	</thead>

	<tbody>
		{% for page in pages|sort %}
			<tr>
				<td>{{ page.page }}</td>
				<td>{{ page.path }}</td>
				<td><span class="label label-{{ page.state_style }}">{{ page.state }}</span></td>
				<td>{{ page.title }}</td>
				<td>
					{% for child in page.childpages %}
						{{ child }}
					{% endfor %}
				</td>
				<td>
				{% if date(page.fileedited) > date('-3hours') %}
					<span class="label label-success">New</span>
				{% endif %}
				</td>
				<td>{{ page.lastedit }}</td>
				<td class="text-right">{{ page.functions|raw }}</td>
			</tr>
		{% endfor %}
	</tbody>

</table>

{% if pagination.total_pages > 1 %}
		<nav>
			<ul class="pagination">
				{% if pagination.current_page > 1 %}
					<li><a href="{{ base }}pages/{{ pagination.current_page - 1 }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
				{% endif %}
				{% for i in 1..pagination.total_pages %}
					{% if i == pagination.current_page %}
						<li class="active"><a href="#">{{ i }}</a></li>
					{% else %}
						<li><a href="{{ base }}pages/{{ i }}">{{ i }}</a></li>
					{% endif %}
				{% endfor %}
				{% if pagination.current_page < pagination.total_pages %}
					<li><a href="{{ base }}pages/{{ pagination.current_page + 1 }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
				{% endif %}
			</ul>
		</nav>
	{% endif %}

{% endblock %}