<!doctype html>
<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<!-- Favicon -->
		<link rel="shortcut icon" href="favicon.ico">
		<!-- Bootstrap -->
		<link rel="stylesheet" href="{{ assetslash }}assets/bootstrap/css/bootstrap.min.css">
		<!-- CSS -->
		<link rel="stylesheet" href="{{ assetslash }}assets/main.css">

	</head>

	<body>

		<div class="container">
			<div class="col-md-8 col-md-offset-2">
				<h1>{{ title }}</h1>

				{{ content | raw}}
			</div>
		</div>

		<!-- Bootstrap -->
		<script src="{{ assetslash }}assets/bootstrap/js/bootstrap.min.js"></script>

	</body>

</html>