<!doctype html>
<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<!-- Favicon -->
		<link rel="shortcut icon" href="favicon.ico">
		<!-- CSS -->
		<link rel="stylesheet" href="{{ assetslash }}/style.css"> <!-- assetslash is how many '../' are put in for directory and asset connections-->

	</head>

	<body>

		<div class="container">
			<div class="col-md-8 col-md-offset-2">
				<h1>{{ title }}</h1>

				{{ content | raw}} <!-- THIS MUST BE SET TO RAW; otherwise encoded html will be outputted; :( -->
			</div>
		</div>

		<script src="{{ assetslash }}/javascript.js"></script>

	</body>

</html>